<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<body>
<div class="layout-id" style="padding-left: 2em;">
    <div  class="wrapper apply-font">
    <div><h2>Animals Farm </h2></div>
    <div style="padding-top: 3rem;">
     <select class="sort-selector">
            <option value="age">ID</option>
            <option value="name">Name</option>
            <option value="parent">Owner</option>
        </select>
    </div>
    </div>
    <ul class="pages"></ul>
    <ul class="animals"></ul>
</div>
</body>
</html>